<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Counter</h1>
    <h2>{{session["count"]}}</h2>
    <form action="/plus_two" method="post">
        <label for="custom">Enter Number:</label><br>
        <input type="number" name="custom" value="0"><br>
        <button type="submit" name="change" value="add">Been here +2</button>
        <button type="submit" name="change" value="restart">Never been here before: RESTART</button>
    </form>
</body>

</html>